.game{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.line{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button:disabled{
  width: 10rem;
  height: 10rem;
}
.button{
  width: 10rem;
  height: 10rem;
}

.player1{
  width: 10rem;
  height: 10rem;
  background-color: blue;
  padding: 2%;
}
.player2{
  width: 10rem;
  height: 10rem;
  background-color: red;
  padding: 2%;
}


