.button,
.player1,
.player2{
  margin:0.3vw;
  width: 10vw;
  height: 0;
  padding-bottom : 10vw;
}

.button{
  background-color: #252525;
}

.player1{
  background-color: blue;
}

.player2{
  background-color: red;

}